@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --spacing-tiny: 0.4rem;
    --spacing-x-small: 0.8rem;
    --spacing-small: 1.2rem;
    --spacing-med: 1.6rem;
    --spacing-large: 2.4rem;
    --spacing-x-large: 3.2rem;
    --spacing-xx-large: 4rem;
    --spacing-xxx-large: 4.8rem;
    --spacing-xxxx-large: 6.4rem;
    --spacing-jumbo: 8rem;
    --spacing-med-jumbo: 8.8rem;
    --spacing-super-jumbo: 9.6rem;
    /* colors here */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.jp-kosugi {
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}

